@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(229 18.64% 23.14%); /* base */
  --foreground: hsl(227 70.15% 86.86%); /* text */
  --card: hsl(229 18.64% 23.14%); /* base */
  --card-foreground: hsl(227 70.15% 86.86%); /* text */
  --popover: hsl(229 18.64% 23.14%); /* base */
  --popover-foreground: hsl(227 70.15% 86.86%); /* text */
  --primary: hsl(277 59.02% 76.08%); /* accent - Mauve */
  --primary-foreground: hsl(229 18.64% 23.14%); /* base */
  --secondary: hsl(230 15.58% 30.20%); /* surface0 */
  --secondary-foreground: hsl(227 70.15% 86.86%); /* text */
  --muted: hsl(230 15.58% 30.20%); /* surface0 */
  --muted-foreground: hsl(227 43.69% 79.80%); /* subtext1 */
  --accent: hsl(230 15.58% 30.20%); /* surface0 */
  --accent-foreground: hsl(227 70.15% 86.86%); /* text */
  --destructive: hsl(359 67.79% 70.78%); /* red */
  --border: hsl(227 14.74% 37.25%); /* surface1 */
  --input: hsl(227 14.74% 37.25%); /* surface1 */
  --ring: hsl(227 70.15% 86.86%); /* text */
  --chart-1: hsl(341 18.43% 40.00%); /* red */
  --chart-2: hsl(191 18.43% 39.22%); /* teal */
  --chart-3: hsl(224 23.53% 43.53%); /* blue */
  --chart-4: hsl(31 9.41% 43.53%); /* yellow */
  --chart-5: hsl(126 9.41% 41.18%); /* green */
  --sidebar: hsl(229 18.82% 21.96%); /* mantle */
  --sidebar-foreground: hsl(227 70.15% 86.86%); /* text */
  --sidebar-primary: hsl(277 59.02% 76.08%); /* accent - Mauve */
  --sidebar-primary-foreground: hsl(229 18.64% 23.14%); /* base */
  --sidebar-accent: hsl(229 18.64% 23.14%); /* surface0 */
  --sidebar-accent-foreground: hsl(227 70.15% 86.86%); /* text */
  --sidebar-border: hsl(227 14.74% 37.25%); /* surface1 */
  --sidebar-ring: hsl(227 14.74% 37.25%); /* surface1 */
}

.dark {
  --radius: 0.625rem;
  --background: hsl(240 21.05% 14.90%); /* base */
  --foreground: hsl(226 63.93% 88.04%); /* text */
  --card: hsl(240 21.05% 14.90%); /* base */
  --card-foreground: hsl(226 63.93% 88.04%); /* text */
  --popover: hsl(240 21.05% 14.90%); /* base */
  --popover-foreground: hsl(226 63.93% 88.04%); /* text */
  --primary: hsl(267 83.51% 80.98%); /* accent - Mauve */
  --primary-foreground: hsl(240 21.05% 14.90%); /* base */
  --secondary: hsl(237 16.24% 22.94%); /* surface0 */
  --secondary-foreground: hsl(226 63.93% 88.04%); /* text */
  --muted: hsl(237 16.24% 22.94%); /* surface0 */
  --muted-foreground: hsl(227 35.29% 80.00%); /* subtext1 */
  --accent: hsl(237 16.24% 22.94%); /* surface0 */
  --accent-foreground: hsl(226 63.93% 88.04%); /* text */
  --destructive: hsl(343 81.25% 74.90%); /* red */
  --border: hsl(234 13.21% 31.18%); /* surface1 */
  --input: hsl(234 13.21% 31.18%); /* surface1 */
  --ring: hsl(226 63.93% 88.04%); /* text */
  --chart-1: hsl(329 21.57% 37.25%); /* red */
  --chart-2: hsl(188 18.82% 37.25%); /* teal */
  --chart-3: hsl(221 27.45% 39.61%); /* blue */
  --chart-4: hsl(30 9.41% 42.35%); /* yellow */
  --chart-5: hsl(139 12.94% 38.04%); /* green */
  --sidebar: hsl(240 21.18% 14.12%); /* mantle */
  --sidebar-foreground: hsl(226 63.93% 88.04%); /* text */
  --sidebar-primary: hsl(267 83.51% 80.98%); /* accent - Mauve */
  --sidebar-primary-foreground: hsl(240 21.05% 14.90%); /* base */
  --sidebar-accent: hsl(240 21.05% 14.90%); /* surface0 */
  --sidebar-accent-foreground: hsl(226 63.93% 88.04%); /* text */
  --sidebar-border: hsl(234 13.21% 31.18%); /* surface1 */
  --sidebar-ring: hsl(234 13.21% 31.18%); /* surface1 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}


html, body, #App, #root {
  @apply text-foreground bg-background min-h-dvh max-w-screen overflow-x-hidden;
  overscroll-behavior: none;
}

#App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
